
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: blue !important;
}
    
}

header {
    background: linear-gradient(90deg, #000000, #1a1a1a);
    padding: 30px;
    text-align: center;
    border-bottom: 3px solid red;
}

header h1 {
    color: red;
    font-size: 45px;
    margin: 0;
}

header p {
    color: #cccccc;
}

nav {
    background: #111;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: red;
}

section {
    padding: 50px;
    text-align: center;
}

.card {
    background: #1c1c1c;
    width: 250px;
    padding: 20px;
    margin: 15px;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

h2 {
    color: red;
}
